{% extends 'list_base_out.html' %}

{# 下面仅对base.html进行扩展#}
{% block title %} 设备可用地址段情况 {% endblock %}
{% block navbar_resource_active %}active{% endblock %}

{% block subheader %}
    设备可用地址段情况
{% endblock %}

{% block search_form %}
    <form action="{% url 'search_device_allocated_segment' 'out' %}" method="GET" class="form-inline">
        {% for field in device_allocated_segment_search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
{% endblock %}

{% block alert_content %}
    {% if device_allocated_segment_search_form.errors %}
        <br>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Input Error: </strong>{{ device_allocated_segment_search_form.errors.as_text }}
        </div>
    {% endif %}
{% endblock %}

{% block table_title %}
        <th>详情</th>
        <th>OLT</th>
        <th>地址段</th>
        <th>利用率</th>
{% endblock %}

{% block table_body %}
    {% for record in records %}
        <tr>
            <td>
                <a href="{% url 'get_not_used_ip' 'out' %}?subnet_gateway={{ record.gws }}" target="_blank">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </a>
            </td>
            <td data-toggle="tooltip" data-placement="top" title="{{ record.olt }}">{{ record.olt|truncatechars:50 }}</td>
            <td data-toggle="tooltip" data-placement="top" title="{{ record.gws }}">
                <span class="label label-danger">{{ record.gw_cnt }}个段</span>
                {{ record.gws|truncatechars:40 }}
            </td>
            <td data-toggle="tooltip" data-placement="top" title="已用{{ record.used }}/总数{{ record.total }}">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ record.used }}" aria-valuemin="0" aria-valuemax="{{ record.total }}" style="width: {% widthratio record.used record.total 100 %}%;">
                        <span class="sr-only">{% widthratio record.used record.total 100 %} Used</span>
                        {% widthratio record.used 1 -1 as used %}
                        {{ record.total|add:used }} Free
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block paginator %}
<div class="paginator">
    <ul class="pagination">
        {# 上一页 #}
        <li>
            {% if page_of_objects.has_previous %}
                <a href="?page={{ page_of_objects.previous_page_number }}{{ search_paras }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# 中间页码 #}
        {% for page_num in page_range %}
            {% if page_num == page_of_objects.number %}
                <li class='active'><span>{{ page_num }}</span></li>
            {% else %}
                {% if page_num == '...' %}
                    <li><span>{{ page_num }}</span></li>
                {% else %}
                    <li><a href="?page={{ page_num }}{{ search_paras }}">{{ page_num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {# 下一页 #}
        <li>
            {% if page_of_objects.has_next %}
                <a href="?page={{ page_of_objects.next_page_number }}{{ search_paras }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock%}
