{% extends 'base.html' %}
{% block title %} IP资源查询 {% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'devices.css' %}">
{% endblock %}

{% block navbar_resource_active %}active{% endblock %}

{% block subheader %}
    IP资源查询
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1 class="text-center">IP资源查询</h1>
    </div>
    <div class="row">
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
                        <span class="glyphicon glyphicon-expand"></span>
                        <strong>注意：</strong> 占用有效期为<strong> 9 </strong>天，逾期占用将被自动清理，即将逾期清单：
                    </a>
                </h4>
                </div>
                <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                <ul class="list-group">
                    {% for expireCnt in almost_expire_cnt %}
                        <li class="list-group-item">
                            <strong> {{ expireCnt.reserved_person }} </strong>预占的 <strong>{{ expireCnt.reserved_cnt__sum }}</strong> 个IP即将逾期
                        </li>
                    {% endfor %}
                </ul>
                <div class="panel-footer">*以上占用将在凌晨被系统自动清理，请确认是否已经完成数据配置</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1">
            <a id="modal_form_trigger" class="btn btn-danger" href="" role="button" data-toggle="modal" data-target=".bs-example-modal-lg">我的占用</a>
        </div>
        <div class="col-md-10">
            <form action="{% url 'search_device_allocated_segment'  %}" method="GET" class="form-inline">
                {% for field in device_allocated_segment_search_form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for record in records %}
            <div class="panel panel-success">
                <div class="panel-heading" role="tab">
                    <div class="row">
                        <div class="col-md-4" data-toggle="tooltip" data-placement="top" title="{{ record.olt }}">
                            <h3 class="panel-title">
                                <strong>{{ record.olt|truncatechars:30 }}</strong>
                            </h3>
                        </div>
                        {% if user.is_staff %}
                        {# 脱敏原因，地址段不显示 #}
                            <div class="col-md-4 title_gws" data-toggle="tooltip" data-placement="top" title="{{ record.gws }}" gws="{{ record.gws }}">
                                <a role="button" class="btn btn-primary btn-xs detail_trigger" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ record.id }}" aria-expanded="true" aria-controls="collapse_{{ record.id }}">
                                    {{ record.gw_cnt }}个段 <span class="glyphicon glyphicon-collapse-down"></span> {{ record.gws|truncatechars:40 }}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-md-4 title_gws" gws="{{ record.gws }}">
                                <a role="button" class="btn btn-primary btn-xs detail_trigger" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ record.id }}" aria-expanded="true" aria-controls="collapse_{{ record.id }}">
                                    {{ record.gw_cnt }}个段 <span class="glyphicon glyphicon-collapse-down"></span> 点击查看
                                </a>
                            </div>
                        {% endif %}
                        
                        <div class="col-md-3" data-toggle="tooltip" data-placement="top" title="在用{{ record.used }}个(不含预占) / 共{{ record.total }}个">
                            {% widthratio record.used 1 -1 as used %}
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="{{ record.total|add:used }}" aria-valuemin="0" aria-valuemax="{{ record.total }}" style="min-width: 4em; width: {% widthratio record.total|add:used record.total 100 %}%;">
                                <span class="sr-only">{% widthratio record.total|add:used record.total 100 %} Free</span>
                                    {{ record.total|add:used }} Free
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse_{{ record.id }}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">预占</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <form action="{% url 'get_device_allocated_segment'  %}" method="POST">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="id_reserved_gw" class="col-sm-3 control-label">可选网段(双击选框刷新)</label>
                                                        <select name="reserved_gw" class="col-sm-9 form-control reserved_gw" id="id_reserved_gw" style="width: 70%">
                                                        <!-- ajax 回填 -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="id_reserved_cnt" class="col-sm-3 control-label">预占数量(必填)</label>
                                                        <input type="number" name="reserved_cnt" class="col-sm-9 form-control" style="width: 30%" id="id_reserved_cnt">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="id_contact" class="col-sm-3 control-label">预占人电话(必填)</label>
                                                        <input type="text" name="contact" class="col-sm-9 form-control" style="width: 70%" id="id_contact">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="id_client_name" class="col-sm-3 control-label">客户(必填)</label>
                                                        <input type="text" name="client_name" class="col-sm-9 form-control" style="width: 70%" id="id_client_name">
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-1">
                                        <button type="submit" class="btn btn-success reserve_segment_btn">马上预占</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>地址段</th>
                                    <th>状态</th>
                                    <th>预占人</th>
                                    <th>客户</th>
                                    <th>预占时间</th>
                                    <th>操作</th>
                                </thead>
                                <tbody class='segment_detail'>
                                <!-- ajax填充 -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-2 counter">
            <p class="counter">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                Found <strong>{{ page_of_objects.paginator.count }}</strong> records
            </p>
        </div>
        <div class="col-lg-10">
            <div class="paginator">
                <ul class="pagination">
                    {# 上一页 #}
                    <li>
                        {% if page_of_objects.has_previous %}
                            <a href="?page={{ page_of_objects.previous_page_number }}{{ search_paras }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% else %}
                            <span aria-hidden="true">&laquo;</span>
                        {% endif %}
                    </li>
                    {# 中间页码 #}
                    {% for page_num in page_range %}
                        {% if page_num == page_of_objects.number %}
                            <li class='active'><span>{{ page_num }}</span></li>
                        {% else %}
                            {% if page_num == '...' %}
                                <li><span>{{ page_num }}</span></li>
                            {% else %}
                                <li><a href="?page={{ page_num }}{{ search_paras }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {# 下一页 #}
                    <li>
                        {% if page_of_objects.has_next %}
                            <a href="?page={{ page_of_objects.next_page_number }}{{ search_paras }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <span aria-hidden="true">&raquo;</span>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

{# modal #}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">我的占用</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>IP段</th>
                                <th>客户</th>
                                <th>预占时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="my_reserved_list">
                            <!-- ajax回填 -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block tail_script %}
<script>
    var user_is_staff = "{{ user.is_staff }}";
    // ajax 请求占用信息
    $(document).ready(function(){
        $(".detail_trigger").click(function(){
            $(".reserved_gw").html();
            var gws = $(this).parent().attr('gws');
            $.ajax({
                url: "{% url 'ajax_get_segment_used_detail'  %}",  // 异步请求的地址
                type: 'GET',    // 请求方式
                data: {gws: btoa(gws),},   // 发送的json
                cache: false,
                success: function(data){    // 回调函数，返回data
                    if(data['status'] == 'success'){
                        // console.log(data);
                        var reserved_dict = JSON.parse(data['reserved_dict']);
                        var dataStr = '';
                        
                        for(var key in reserved_dict){
                            var data_list = reserved_dict[key];
                            if(user_is_staff == 'True'){
                                dataStr += '<tr><td><span class="label label-success">'+data_list[0]+'</span></td><td><span class="label label-danger">预占'+data_list[1]+'个</span></td><td>'+data_list[2]+'('+data_list[3]+')</td><td>'+data_list[4]+'</td><td>'+data_list[5]+'</td><td><a class="btn btn-danger btn-xs cancle_reserve_btn" href="" role="button" rid='+data_list[6]+'>撤销</a></td></tr>';
                            }else{
                                dataStr += '<tr><td><span class="label label-success">'+data_list[0].substr(0, 8)+'***</span></td><td><span class="label label-danger">预占'+data_list[1]+'个</span></td><td>'+data_list[2]+'('+data_list[3]+')</td><td>'+data_list[4]+'</td><td>'+data_list[5]+'</td><td><a class="btn btn-danger btn-xs cancle_reserve_btn" href="" role="button" rid='+data_list[6]+'>撤销</a></td></tr>';
                            }
                        }
                        $(".segment_detail").html(dataStr);
                    }else{
                        console.log(data);
                        alert('没有找到相关对象');
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });

        // 请求剩余信息
        $(".reserved_gw").dblclick(function(){
            var reserved_candidate = $(this);
            reserved_candidate.html('<option value="None">查询中...</option>');
            var gws = $(this).parents(".panel-collapse").prev().find(".title_gws").attr('gws');
            // console.log(gws);
            $.ajax({
                url: "{% url 'ajax_get_segment_left_cnt'  %}",
                type: 'GET',
                data: {gws: btoa(gws),},
                cache: false,
                success: function(data){
                    if(data['status'] == 'success'){
                        var can_be_reserved = JSON.parse(data['can_be_reserved']);
                        var option_str = '';
                        for(var key in can_be_reserved){
                            var d = can_be_reserved[key];
                            if(user_is_staff == 'True'){
                                option_str += '<option value="'+d[0]+'/'+d[1]+'">'+d[0]+'/'+d[1]+' 可供预占'+d[2]+'个</option>';
                            }else{
                                option_str += '<option value="'+d[0]+'/'+d[1]+'">'+d[0].substr(0, 8)+'***/'+d[1]+' 可供预占'+d[2]+'个</option>';
                            }
                        }
                        reserved_candidate.html(option_str);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });

        // 预占
        $(".reserve_segment_btn").click(function(){
            var submit_data = $(this).parent().prev().find("form");
            $.ajax({
                url: "{% url 'reserve_segment'  %}",
                type: 'POST',
                data: submit_data.serialize() + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
                cache: false,
                success: function(data){
                    if(data['status'] == 'success'){
                        window.location.reload();
                        alert("预占成功");
                    }else{
                        alert(data['error_info']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
        // 取消预占
        $(document).on("click", ".cancle_reserve_btn", function(){
            var cancle_record = $(this);
            $.ajax({
                url: '{% url "cancle_reserve" %}',
                type: 'POST',
                data: "rid=" + cancle_record.attr('rid') + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
                cache: false,
                success: function(data){
                    if(data['status'] == 'success'){
                        window.location.reload();
                        // cancle_record.remove();
                        alert("取消成功");
                    }else{
                        alert(data['error_info']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });

        // 我的占用情况
        $("#modal_form_trigger").click(function(){
            $.ajax({
                url: '{% url "ajax_get_my_reserved_list" %}',
                type: 'GET',
                data: {},
                cache: false,
                success: function(data){
                    if(data['status'] == 'success'){
                        var my_reserved_dict = JSON.parse(data['my_reserved_dict']);
                        var my_reserved_data = '';
                        for(var key in my_reserved_dict){
                            var d = my_reserved_dict[key];
                            if(user_is_staff == 'True'){
                                my_reserved_data += '<tr><td>'+d[0]+'/'+d[1]+' <span class="label label-success">预占'+d[2]+'个</span></td><td data-toggle="tooltip" data-placement="top" title="'+d[3]+'">'+d[3].substr(0, 8)+'...<span class="label label-primary">'+d[4]+'</span></td><td>'+d[5]+'</td><td><a class="btn btn-danger btn-xs cancle_reserve_btn" href="" role="button" rid='+key+'>撤销</a></td></tr>';
                            }else{
                                my_reserved_data += '<tr><td>'+d[0].substr(0, 8)+'***/'+d[1]+' <span class="label label-success">预占'+d[2]+'个</span></td><td data-toggle="tooltip" data-placement="top" title="'+d[3]+'">'+d[3].substr(0, 8)+'...<span class="label label-primary">'+d[4]+'</span></td><td>'+d[5]+'</td><td><a class="btn btn-danger btn-xs cancle_reserve_btn" href="" role="button" rid='+key+'>撤销</a></td></tr>';
                            }
                        }
                        $('#my_reserved_list').html(my_reserved_data);
                    }else{
                        alert(data['error_info']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
    });
</script>

{% endblock %}