{% extends 'list_base.html' %}

{# 下面仅对base.html进行扩展#}
{% block title %} 已分配的IP地址 {% endblock %}
{% block navbar_resource_active %}active{% endblock %}

{# 下面对list_base.html进行扩展#}
{% block breadcrumb %}
    <li><a href="">Resource</a></li>
    <li class="active">IP Record</li>
{% endblock %}

{% block subheader %}
    已分配的IP地址
{% endblock %}

{% block new_button %}
    <a class="btn btn-success" href="{% url 'new_ip_allocate' %}" role="button">新增</a>
{% endblock %}

{% block search_form %}
    <form action="{% url 'ip_allocates_search' %}" method="GET" class="form-inline">
        {% for field in ip_search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
{% endblock %}

{% block alert_content %}
    {% if ip_search_form.errors %}
        <br>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Input Error: </strong>{{ ip_search_form.errors.as_text }}
        </div>
    {% else %}
        <br>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>变更</strong>后如<strong>记录消失</strong>是因为此页面聚合条件为以上搜索框内容，<strong>更新搜索条件模糊搜索即可</strong>，无需重新分配
            </p>
            <p>
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>临时禁用</strong> 即将记录状态设置为<strong>临时停用</strong>，记录不会从IP分配台账消失，可重新启用
            </p>
            <p>
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>删除数据</strong> 即将记录从IP分配台账<strong>删除</strong>，不能重新启用，且历史数据只能从操作记录寻回
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block table_title %}
        <th><input id="checkAll" type="checkbox" /></th>
        <th>工单号</th>
        <th>IP</th>
        <th>客户</th>
        <th>接入设备</th>
        <th>上联设备</th>
        <th>子接口</th>
        <th>修改时间</th>
        <th>分配人</th>
        <th>操作</th>
{% endblock %}

{% block table_body %}
    {% for record in records %}
        {% if record.state == '已停用' %}
            <tr class="danger">
        {% else %}
            <tr>
        {% endif %}
            <td><input class="check_item" id="{{ record.id }}" name="checkItem" type="checkbox" /></td>
            <td data-toggle="tooltip" data-placement="top" title="{{ record.order_num }}">
                {% if record.state == '预分配' %}
                    <span class="label label-info">{{ record.state }}</span>
                {% elif record.state == '已启用' %}
                    <span class="label label-success">{{ record.state }}</span>
                {% elif record.state == '临时禁用' %}
                    <span class="label label-danger">{{ record.state }}</span>
                {% endif %}
                {{ record.order_num|truncatechars:15 }}
            </td>
            <td data-toggle="tooltip" data-placement="top" title="网关: {{ record.gateway }}">
                {% if record.ip_func == '公网' %}
                    <span class="label label-danger">公网</span>
                {% endif %}
                {{ record.ip }}
            </td>
            <td data-toggle="tooltip" data-placement="top" title="产品编码：{{ record.product_id }}::{{ record.client_name }}">
                {{ record.client_name|truncatechars:15 }}
            </td>
            <td data-toggle="tooltip" data-placement="top" title="{{ record.olt }}">
                {% if record.access_type == 'GPON' %}
                    <span class="label label-success">{{ record.access_type }}</span>
                {% elif record.access_type == 'PTN' %}
                    <span class="label label-warning">{{ record.access_type }}</span>
                {% endif %}
                {{ record.olt|truncatechars:10 }}
            </td>
            <td data-toggle="tooltip" data-placement="top" title="{{ record.bng }}">{{ record.bng|truncatechars:15 }}</td>
            <td data-toggle="tooltip" data-placement="top" title="描述：{{ record.description }}">
                {{ record.logic_port }}:{{ record.svlan|default:'0' }}.{{ record.cevlan|default:'0' }}
                <span class="label label-danger">{{ record.brand_width }}M</span>
            </td>
            <td data-toggle="tooltip" data-placement="top" title="创建时间：{{ record.alc_time|date:'Y-m-d H:i' }} 最后修改时间：{{ record.last_mod_time|date:'Y-m-d H:i' }}">
                {{ record.last_mod_time|date:"Y-m-d H:i" }}
            </td>
            <td>{{ record.alc_user }}</td>
            {% if user.is_authenticated %}
                <td>
                    <a href="" data-toggle="modal" data-target="#mod-ip-modal" class="ip_modal_form_trigger" rid="{{ record.id }}">
                        <!-- 这里的rid是ipallocation的id -->
                        <span data-toggle="tooltip" data-placement="top" title="修改IP信息" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>|
                    <a href="" data-toggle="modal" data-target="#mod-icp-modal" class="icp_modal_form_trigger" rid="{{ record.icp_id }}">
                        <!-- 这里的rid是icp的id -->
                        <span data-toggle="tooltip" data-placement="top" title="修改ICP信息" class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    </a>
                </td>
            {% else %}
            {# user no login #}
                <td>
                    <a href="{% url 'login' %}?from={{ request.get_full_path }}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}

{% endblock %}

{% block paginator %}
<div class="paginator">
    <ul class="pagination">
        {# 上一页 #}
        <li>
            {% if page_of_objects.has_previous %}
                <a href="?page={{ page_of_objects.previous_page_number }}{{ search_paras }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# 中间页码 #}
        {% for page_num in page_range %}
            {% if page_num == page_of_objects.number %}
                <li class='active'><span>{{ page_num }}</span></li>
            {% else %}
                {% if page_num == '...' %}
                    <li><span>{{ page_num }}</span></li>
                {% else %}
                    <li><a href="?page={{ page_num }}{{ search_paras }}">{{ page_num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {# 下一页 #}
        <li>
            {% if page_of_objects.has_next %}
                <a href="?page={{ page_of_objects.next_page_number }}{{ search_paras }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock%}

{% block other_content %}
{# modal #}
<div class="modal fade" id="mod-ip-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">IP详细信息</h4>
            </div>
            <div class="modal-body">
                <p id="comment"></p>
                <form id="mod_form" action="" method="POST" rid="">
                    <!-- 隐藏内容，调试可关闭style -->
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label-info">IP信息</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ip" class="col-sm-2 control-label">IP</label>
                                <input type="text" name="ip" id="ip" class="form-control" style="width:70%">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="gateway" class="col-sm-2 control-label">网关</label>
                                <input type="text" name="gateway" id="gateway" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="state" class="col-sm-2 control-label">状态</label>
                                <select name="state" class="form-control" id="state" style="width:70%">
                                    <option value="预分配">预分配</option>
                                    <option value="已启用">已启用</option>
                                    <option value="临时禁用">临时禁用</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ip_func" class="col-sm-2 control-label">类型</label>
                                <select name="ip_func" class="form-control" id="ip_func" style="width:70%">
                                    <option value="公网">公网</option>
                                    <option value="私网">私网</option>
                                    <option value="特殊">特殊</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label-warning">客户信息</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="order_num" class="col-sm-2 control-label">分配单号</label>
                                <input type="text" name="order_num" id="order_num" class="form-control" style="width:70%" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="client_name" class="col-sm-2 control-label">客户</label>
                                <input type="text" name="client_name" id="client_name" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="service_id" class="col-sm-2 control-label">业务ID</label>
                                <input type="number" name="service_id" id="service_id" class="form-control" style="width:70%">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group_id" class="col-sm-2 control-label">集团客户编号</label>
                                <input type="number" name="group_id" id="group_id" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="product_id" class="col-sm-2 control-label">产品编号</label>
                                <input type="number" name="product_id" id="product_id" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label-success">网络信息</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="olt" class="col-sm-2 control-label">OLT/PTN</label>
                                <input type="text" name="olt" id="olt" class="form-control olt-input" style="width:70%">
                                <div id="olt-list" class="olt-list">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="bng" class="col-sm-2 control-label">BNG/SR</label>
                                <input type="text" name="bng" id="bng" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="logic_port" class="col-sm-2 control-label">子接口</label>
                                <input type="text" name="logic_port" id="logic_port" class="form-control" style="width:70%">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">描述</label>
                                <input type="text" name="description" id="description" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="network_type" class="col-sm-2 control-label">组网类型</label>
                                <select name="network_type" class="form-control" id="network_type" style="width:70%">
                                    <option value="双上联">双上联</option>
                                    <option value="单上联">单上联</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="access_type" class="col-sm-2 control-label">接入方式</label>
                                <select name="access_type" class="form-control" id="access_type" style="width:70%">
                                    <option value="GPON">GPON</option>
                                    <option value="PTN">PTN</option>
                                    <option value="DIRECT">DIRECT</option>
                                    <option value="OTHER">OTHER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label-danger">私网附加信息(分配私网IP时必须填写)</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="community=" class="col-sm-2 control-label">COMMUNITY</label>
                                <input type="text" name="community" id="community" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rt" class="col-sm-2 control-label">RT</label>
                                <input type="text" name="rt" id="rt" class="form-control" style="width:70%">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="rd" class="col-sm-2 control-label">RD</label>
                                <input type="text" name="rd" id="rd" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="label label-danger">变更或删除依据 (注意: 变更后会把填入的变更单号作为新服开单号)</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mod_order_num" class="col-sm-2 control-label">变更单号</label>
                                <input type="text" name="mod_order_num" id="mod_order_num" class="form-control" style="width:70%">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mod_msg" class="col-sm-2 control-label">变更说明</label>
                                <input type="text" name="mod_msg" id="mod_msg" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal_del" data-toggle="popover" data-placement="auto bottom" data-trigger="manual" title="提示" data-content="后台正在处理，请稍后...">删除数据</button>
                <button type="button" class="btn btn-warning" id="modal_ban" data-toggle="popover" data-placement="auto bottom" data-trigger="manual" title="提示" data-content="后台正在处理，请稍后...">临时禁用</button>
                <button type="button" class="btn btn-success" id="modal_mod" data-toggle="popover" data-placement="auto bottom" data-trigger="manual" title="提示" data-content="后台正在处理，请稍后...">变更</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mod-icp-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ICP备案信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <textarea id="icp_text" name="icp_text" class="form-control" rows="4"></textarea>
                            <span class="input-group-addon">
                                <button id="id_parse_icp" class="btn btn-default" type="button">解析</button>
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- 解析ICP后补全的内容 -->
                        <form id="icp_info_form" class="form" rid="">
                            {% for field in new_icp_info_form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p id="error_{{ field.id_for_label }}" class="text-danger icp-error-data">{{ field.errors.as_text }}</p>
                                </div>
                            {% endfor %}
                            <button type="reset" class="btn btn-danger btn-sm">重置</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="row">
                    <form class="form" id="mod_icp_order_form">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mod_icp_order_num" class="col-sm-2 control-label">变更单号</label>
                                <input type="text" name="mod_icp_order_num" id="mod_icp_order_num" class="form-control" style="width:70%">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mod_icp_msg" class="col-sm-2 control-label">变更说明</label>
                                <input type="text" name="mod_icp_msg" id="mod_icp_msg" class="form-control" style="width:70%">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <!-- 这里的rid是ipallocation的id -->
                <button id="confirm_icp_info" type="submit" class="btn btn-primary" rid="" data-toggle="popover" data-placement="auto bottom" data-trigger="manual" title="提示" data-content="后台正在处理，请稍后...">更新ICP信息</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tail_script %}
<script>
    $(document).ready(function(){
        // 全选框
        $("#checkAll").click(function(){
            if($(this).is(":checked") == false){
                $(".check_item").prop('checked', false);
            }else{
                $(".check_item").each(function(){
                    if($(this).is(":checked") == false){
                        $(this).prop('checked', true);
                    }
                });
            }
        });
        // 请求单条记录的详细信息
        $(".ip_modal_form_trigger").click(function(){
            $.ajax({
                url: "{% url 'locate_allocated_ip' %}",  // 异步请求的地址
                type: "GET",    // 请求方式
                data: {rid: $(this).attr('rid')},   // 发送的json
                cache: false,
                success: function(data){    // 回调函数，返回data
                    if(data['status'] == 'success'){
                        // console.log(data);
                        $("#mod_order_num").val("");
                        $("#mod_msg").val("");
                        $("#mod_form").attr("rid", data["id"]);
                        for(var field in data){
                            $("#"+field).val(data[field]);
                        }
                        if(data['comment'] != ''){
                            $("#comment").html('<div class="alert alert-warning" role="alert"><strong>备注：</strong>'+data['comment']+'</div>');
                        }
                    }else{
                        // console.log(data);
                        alert('没有找到相关对象');
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
        // 删除分配记录
        $("#modal_del").click(function(){
            $("#modal_del").popover('show');
            $.ajax({
                url: "{% url 'mod_allocated_ip' 'del' %}",
                type: "POST",
                data: $("#mod_order_num").serialize()+"&"+$("#mod_msg").serialize()+"&rid="+$("#mod_form").attr('rid')+"&csrfmiddlewaretoken="+"{{ csrf_token  }}",
                success: function(data){
                    $("#modal_del").popover('hide');
                    if(data['status'] == 'success'){
                        $('#mod-ip-modal').modal('hide');  // 修改成功后关闭modal
                        alert('删除成功');
                        window.location.reload();
                    }else{
                        console.log(data);
                        alert(data['error_info']);
                    }
                },
                error: function(xhr){
                    $("#modal_del").popover('hide');
                    console.log(xhr);
                }
            });
        });
        // 临时禁用
        $("#modal_ban").click(function(){
            $("#modal_ban").popover('show');
            $.ajax({
                url: "{% url 'mod_allocated_ip' 'ban' %}",
                type: "POST",
                data: $("#mod_order_num").serialize()+"&"+$("#mod_msg").serialize()+"&rid="+$("#mod_form").attr('rid')+"&csrfmiddlewaretoken="+"{{ csrf_token  }}",
                success: function(data){
                    $("#modal_ban").popover('hide');
                    if(data['status'] == 'success'){
                        $('#mod-ip-modal').modal('hide');  // 修改成功后关闭modal
                        alert('临时禁用成功');
                        window.location.reload();
                    }else{
                        console.log(data);
                        alert(data['error_info']);
                    }
                },
                error: function(xhr){
                    $("#modal_ban").popover('hide');
                    console.log(xhr);
                }
            });
        });
        // 变更按钮
        $("#modal_mod").click(function(){
            $("#modal_mod").popover('show');
            $.ajax({
                url: "{% url 'mod_allocated_ip' 'mod' %}",
                type: "POST",
                data: $("#mod_form").serialize()+"&rid="+$("#mod_form").attr('rid')+"&csrfmiddlewaretoken="+"{{ csrf_token  }}",
                success: function(data){
                    $("#modal_mod").popover('hide');
                    if(data['status'] == 'success'){
                        $('#mod-ip-modal').modal('hide');  // 修改成功后关闭modal
                        alert('变更成功');
                        window.location.reload();
                    }else{
                        // console.log(data);
                        alert(data['error_info']);
                    }
                },
                error: function(xhr){
                    $("#modal_mod").popover('hide');
                    console.log(xhr);
                }
            });
        });
        // 模糊匹配OLT清单
        $(".olt-input").keyup(function(){
            if($(this).val() == ""){
                $("#olt-list").css("display", "none");
                return;
            }
            $.ajax({
                url: "{% url 'get_olt_bng' 'olt' %}",
                type: 'GET',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    if(data['status'] == 'success'){
                        // console.log(data);
                        var olts = data['olt_list'].split(",");
                        var t = "<ul class=\"list-group\">";
                        for(var i=0;i<olts.length;i++){
                            // console.log(olts[i]);
                            t += "<li class=\"list-group-item olt-item\">"+olts[i]+"</li>";
                        }
                        t += "</ul>";
                        $("#olt-list").html(t);
                        $("#access_type").val(data['access_type']);
                        $("#olt-list").css("display", "block");
                    }else{
                        // alert('error');
                        if("olt_count" in data){
                            $("#olt-list").css("display", "none");
                        }else{
                            var t = "<ul class=\"list-group\"><li class=\"list-group-item olt-item\">"+data["olt_list"]+"</li>";
                            $("#olt-list").html(t);
                            $("#olt-list").css("display", "block");
                        }
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
        // 选择olt
        $(document).on("click", ".olt-item", function(){
            var auto_item = $(this).text();
            $("#olt-list").css("display", "none");
            $(".olt-input").val(auto_item);
        });
        // 清空ICP表单，回填数据
        $(".icp_modal_form_trigger").click(function(){
            var icp_trigger = $(this);
            var rid = icp_trigger.attr("rid");
            $("#icp_text").val("");
            $.ajax({
                url: "{% url 'ajax_locate_icp' %}",
                type: 'GET',
                data: "rid=" + rid,
                cache: false,
                success: function(data){
                    if(data['status'] == 'success'){
                        var parsed_icp_result = JSON.parse(data['parsed_icp_result']);
                        for(var key in parsed_icp_result){
                            $('#id_'+key).val(parsed_icp_result[key]);
                        }
                        // 将IP记录的rid回填至confirm_icp_info，用于后续传递
                        var ip_record_id = icp_trigger.prev('a').attr('rid');
                        $("#confirm_icp_info").attr("rid", ip_record_id);
                    }else{
                        alert(data["error_info"]);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
        // 解析icp信息
        $("#id_parse_icp").click(function(){
            $.ajax({
                url: "{% url 'parse_icp' %}",
                type: 'GET',
                data: $("#icp_text").serialize(),
                cache: false,
                success: function(data){
                    var parsed_icp_result = JSON.parse(data['parsed_icp_result']);
                    for(var key in parsed_icp_result){
                        $('#'+key).val(parsed_icp_result[key]);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
        // 更新ICP信息
        $('#confirm_icp_info').click(function(){
            $('#confirm_icp_info').popover('show');
            $.ajax({
                url: "{% url 'ajax_mod_icp_info' 'mod' %}",
                type: 'POST',
                data: $("#mod_icp_order_form").serialize() + '&' + $("#icp_info_form").serialize() +"&rid="+$(this).attr('rid')+ "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
                cache: false,
                success: function(data){
                    $('#confirm_icp_info').popover('hide');
                    if(data['status'] == 'success'){
                        $("p.icp-error-data").text(""); // 清空错误信息
                        document.getElementById('icp_info_form').reset();  // 清空form
                        alert("ICP备案信息更新成功");
                        $("#icp-modal").modal("hide");
                        window.location.reload();
                    }else{
                        $("p.icp-error-data").text("");
                        if ('error_info' in data){
                            if('error_info' in data){
                                alert("创建失败，请查看对应字段的错误信息");
                                var error_data = JSON.parse(data['error_info']);
                                for (var key in error_data){
                                    var item = error_data[key];
                                    // 按照对应id补全错误信息
                                    $("#error_id_"+key).text(item[0]['message']);
                                }
                            }
                        }
                        if('other_error' in data){
                            alert(data['other_error']);
                        }
                    }
                },
                error: function(xhr){
                    $('#confirm_icp_info').popover('hide');
                    console.log(xhr);
                }
            });
        });
    });
</script>
{% endblock %}