{% extends 'list_base.html' %}

{# 下面仅对base.html进行扩展#}
{% block title %} IP地址记录 {% endblock %}
{% block navbar_resource_active %}active{% endblock %}

{# 下面对list_base.html进行扩展#}
{% block breadcrumb %}
    <li><a href="">Resource</a></li>
    <li class="active">IP Record</li>
{% endblock %}

{% block subheader %}
    {% if public_ip == 1 %}
        已分配的公网地址
    {% elif public_ip == 0 %}
        已分配的私网地址
    {% endif %}
{% endblock %}

{% block new_button_url %}
    {% if public_ip == 1 %}
        {% url 'allocate_ip' 'public' %}
    {% elif public_ip == 0 %}
        {% url 'allocate_ip' 'private' %}
    {% endif %}
{% endblock %}

{% block search_form %}
    {% if public_ip == 1 %}
    <form action="{% url 'search_allocated_ip' 'public' %}" method="GET" class="form-inline">
        {% for field in ip_search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% elif public_ip == 0 %}
    <form action="{% url 'search_allocated_ip' 'private' %}" method="GET" class="form-inline">
        {% for field in ip_search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% endif %}
{% endblock %}

{% block export %}
    {# 将form的搜索条件传到views.export_ip #}
    <a class="btn btn-success" href="{% url 'export_ip' %}?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&ip_description={{ search_description }}" role="button">Export</a>
{% endblock %}

{% block alert_content %}
    {% if ip_search_form.errors %}
        <br>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Input Error: </strong>{{ ip_search_form.errors.as_text }}
        </div>
    {% endif %}
{% endblock %}

{% block table_title %}
    {% if public_ip == 1 %}
        {# 公网地址 #}
        <th>工单号</th>
        <th>客户编号</th>
        <th>产品号</th>
        <th>ip</th>
        <th>设备</th>
        <th>子接口</th>
        <th>接入方式</th>
        <th>客户名</th>
        <th>带宽(DOWN)</th>
        <th>分配人</th>
    {% elif public_ip == 0 %}
        {# 私网地址 #}
        <th>community</th>
        <th>service_id</th>
        <th>rd</th>
        <th>rt</th>
        <th>接入依据</th>
        <th>客户名</th>
        <th>客户编号</th>
        <th>产品号</th>
        <th>设备</th>
        <th>子接口</th>
        <th>ip</th>
        <th>分配人</th>
    {% endif %}
{% endblock %}

{% block table_body %}
    {% if public_ip == 1 %}
    {# 公网地址 #}
        {% for record in records %}
            <tr>
                <td>{{ record.order_num|truncatechars:15 }}</td>
                <td>{{ record.client_num|truncatechars:15 }}</td>
                <td>{{ record.product_num|truncatechars:15 }}</td>
                <td>{{ record.ip }}</td>
                <td>{{ record.device_name|truncatechars:15 }}</td>
                <td>{{ record.logic_port }}</td>
                <td>{{ record.access_type }}</td>
                <td>{{ record.client_name|truncatechars:15 }}</td>
                <td>{{ record.down_brandwidth }}</td>
                <td>{{ record.alc_user.username }}</td>
            </tr>
        {% endfor %}
    {% elif public_ip == 0 %}
    {# 私网地址 #}
        {% for record in records %}
            <tr>
                <td>{{ record.community|truncatechars:15 }}</td>
                <td>{{ record.service_id }}</td>
                <td>{{ record.rd }}</td>
                <td>{{ record.rt }}</td>
                <td>{{ record.order_num|truncatechars:15 }}</td>
                <td>{{ record.client_name|truncatechars:15 }}</td>
                <td>{{ record.client_num|truncatechars:15 }}</td>
                <td>{{ record.product_num|truncatechars:15 }}</td>
                <td>{{ record.device_name|truncatechars:15 }}</td>
                <td>{{ record.logic_port }}</td>
                <td>{{ record.ip }}</td>
                <td>{{ record.alc_user.username }}</th>
            </tr>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block paginator %}
<div class="paginator">
    <ul class="pagination">
        {# 上一页 #}
        <li>
            {% if page_of_objects.has_previous %}
                {# if 作为判断用户是否有搜索内容，有搜索内容需要从后端返回搜索字段 #}
                {% if search_device_name or search_ip_address or search_description %}
                    <a href="?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&description={{ search_description }}&page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# 中间页码 #}
        {% for page_num in page_range %}
            {% if page_num == page_of_objects.number %}
                <li class='active'><span>{{ page_num }}</span></li>
            {% else %}
                {% if page_num == '...' %}
                    <li><span>{{ page_num }}</span></li>
                {% else %}
                    {% if search_device_name or search_ip_address or search_description %}
                        <li><a href="?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&description={{ search_description }}&page={{ page_num }}">{{ page_num }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {# 下一页 #}
        <li>
            {% if page_of_objects.has_next %}
                {% if search_device_name or search_ip_address or search_description %}
                    <a href="?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&description={{ search_description }}&page={{ page_num }}">{{ page_num }}
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ page_of_objects.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock%}
