{% extends 'list_base.html' %}

{# 下面仅对base.html进行扩展#}
{% block title %} 业务IP现网状态 {% endblock %}
{% block navbar_resource_active %}active{% endblock %}

{# 下面对list_base.html进行扩展#}
{% block breadcrumb %}
    <li><a href="">Resource</a></li>
    <li class="active">IP Record</li>
{% endblock %}

{% block subheader %} 业务IP现网状态 {% endblock %}

{% block new_button %}
<!-- data-toggle="tooltip" data-placement="left" title="为避免误会，分配台账入口已迁移，请进入IP分配台账点击新增进行分配" -->
    <a data-toggle="popover" title="提醒" data-content="为避免误会，分配动作入口已迁移，请通过导航栏进入-IP分配台账-点击新增进行分配、调整" class="btn btn-success"  role="button">新增</a>
{% endblock %}

{% block search_form %}
    <form action="{% url 'search_ip' %}" method="GET" class="form-inline">
        {% for field in ip_search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
{% endblock %}

{% block export %}
    {# 将form的搜索条件传到views.export_ip #}
    <a class="btn btn-success" href="{% url 'export_ip' %}?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&ip_description={{ search_description }}&ip_type={{ search_ip_type }}" role="button">导出</a>
{% endblock %}

{% block alert_content %}
    {% if ip_search_form.errors %}
        <br>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Input Error: </strong>{{ ip_search_form.errors.as_text }}
        </div>
    {% else %}
        <br>
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>
                <span class="glyphicon glyphicon-info-sign"></span>
                以下内容为设备提取的IP信息，非分配台账，录入的分配台账请转至
                <a href="{% url 'ip_allocated_client_list' %}">IP分配台账</a>
            </p>
            <p>
                <span class="glyphicon glyphicon-info-sign"></span>
                搜索优先级：<strong>IP</strong> > <strong>Device</strong>;
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block table_title %}
    <th>主机地址</th>
    <th>设备</th>
    <th>接口</th>
    <th>外层Vlan</th>
    <th>内层Vlan</th>
    <th>描述</th>
    <th>记录时间</th>
{% endblock %}

{% block table_body %}
    {% for record in records %}
        <tr>
            <td>
                {% if record.ip_type == 'private' %}
                <span class="label label-success">{{ record.ip_type }}</span>
                {% else %}
                <span class="label label-primary">{{ record.ip_type }}</span>
                {% endif %}
                <span class="label label-default">{{ record.device_ip }}/{{ record.ip_mask }}</span>
            </td>
            <td data-toggle="tooltip" data-placement="top" title="{{ record.device_name }}">{{ record.device_name|truncatechars:30 }}</td>
            <td>
                <span class="label label-danger">{{ record.logic_port }}</span>
            </td>
            <td>{{ record.svlan }}</td>
            <td>{{ record.cvlan }}</td>
            <td data-toggle="tooltip" data-placement="top" title="{{ record.ip_description }}">{{ record.ip_description|truncatechars:40 }}</td>
            <td>{{ record.record_time|date:"Y-m-d" }}</td>
        </tr>
    {% empty %}
        <tr>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block paginator %}
<div class="paginator">
    <ul class="pagination">
        {# 上一页 #}
        <li>
            {% if page_of_objects.has_previous %}
                {# if 作为判断用户是否有搜索内容，有搜索内容需要从后端返回搜索字段 #}
                {% if search_device_name or search_ip_address or search_description or search_ip_type %}
                    <a href="?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&description={{ search_description }}&ip_type={{ search_ip_type }}&page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# 中间页码 #}
        {% for page_num in page_range %}
            {% if page_num == page_of_objects.number %}
                <li class='active'><span>{{ page_num }}</span></li>
            {% else %}
                {% if page_num == '...' %}
                    <li><span>{{ page_num }}</span></li>
                {% else %}
                    {% if search_device_name or search_ip_address or search_description or search_ip_type %}
                        <li><a href="?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&description={{ search_description }}&ip_type={{ search_ip_type }}&page={{ page_num }}">{{ page_num }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {# 下一页 #}
        <li>
            {% if page_of_objects.has_next %}
                {% if search_device_name or search_ip_address or search_description %}
                    <a href="?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&description={{ search_description }}&ip_type={{ search_ip_type }}&page={{ page_num }}">{{ page_num }}
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ page_of_objects.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock%}
