{% extends 'list_base.html' %}

{# 下面仅对base.html进行扩展#}
{% block title %} IP地址记录 {% endblock %}
{% block navbar_resource_active %}active{% endblock %}

{# 下面对list_base.html进行扩展#}
{% block breadcrumb %}
    <li><a href="">Resource</a></li>
    <li class="active">IP Record</li>
{% endblock %}

{% block subheader %}
    {% if public_ip == 1 %}
        已分配的公网地址
    {% elif public_ip == 0 %}
        已分配的私网地址
    {% endif %}
{% endblock %}

{% block new_button %}
    {% if public_ip == 1 %}
        <a class="btn btn-success" href="{% url 'allocate_ip' 'public' %}" role="button">新增</a>
    {% elif public_ip == 0 %}
        <a class="btn btn-success" href="{% url 'allocate_ip' 'private' %}" role="button">新增</a>
    {% endif %}
{% endblock %}

{% block search_form %}
    {% if public_ip == 1 %}
        <form action="{% url 'search_allocated_ip' 'public' %}" method="GET" class="form-inline">
    {% elif public_ip == 0 %}
        <form action="{% url 'search_allocated_ip' 'private' %}" method="GET" class="form-inline">
    {% endif %}
        {% for field in ip_search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
{% endblock %}

{% block alert_content %}
    {% if ip_search_form.errors %}
        <br>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Input Error: </strong>{{ ip_search_form.errors.as_text }}
        </div>
    {% endif %}
{% endblock %}

{% block table_title %}
    {% if public_ip == 1 %}
        {# 公网地址 #}
        <th>工单号</th>
        <th>ip</th>
        <th>设备</th>
        <th>子接口</th>
        <th>接入方式</th>
        <th>客户名</th>
        <th>带宽(DOWN)</th>
        <th>分配人</th>
        <th>状态</th>
        <th>操作</th>
    {% elif public_ip == 0 %}
        {# 私网地址 #}
        <th>community</th>
        <th>接入依据</th>
        <th>客户名</th>
        <th>设备</th>
        <th>ip</th>
        <th>分配人</th>
        <th>状态</th>
        <th>操作</th>
    {% endif %}
{% endblock %}

{% block table_body %}
    {% if public_ip == 1 %}
    {# 公网地址 #}
        {% for record in records %}
            {% if record.state == 'Delete' %}
                <tr class="danger">
            {% elif record.state == 'Close' %}
                <tr class="warning">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ record.order_num|truncatechars:15 }}</td>
                <td>{{ record.ip }}</td>
                <td>{{ record.device_name|truncatechars:15 }}</td>
                <td>{{ record.logic_port }}</td>
                <td>{{ record.access_type }}</td>
                <td>{{ record.client_name|truncatechars:15 }}</td>
                <td>{{ record.down_brandwidth }}</td>
                <td>{{ record.alc_user }}</td>
                <td>{{ record.state }}</td>
                {% if user.is_authenticated %}
                    <td>
                        <a href="" data-toggle="modal" data-target=".bs-example-modal-lg" class="modal_form_trigger" rid="{{ record.id }}" ip_type="public">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                {% else %}
                {# user no login #}
                    <td>
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% elif public_ip == 0 %}
    {# 私网地址 #}
        {% for record in records %}
            {% if record.state == 'Delete' %}
                <tr class="danger">
            {% elif record.state == 'Close' %}
                <tr class="warning">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ record.community|truncatechars:15 }}</td>
                <td>{{ record.order_num|truncatechars:15 }}</td>
                <td>{{ record.client_name|truncatechars:15 }}</td>
                <td>{{ record.device_name|truncatechars:15 }}</td>
                <td>{{ record.ip }}</td>
                <td>{{ record.alc_user.first_name }}</td>
                <td>{{ record.state }}</td>
                {% if user.is_authenticated %}
                    <td>
                        <a href="" data-toggle="modal" data-target=".bs-example-modal-lg" class="modal_form_trigger" rid="{{ record.id }}" ip_type="private">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </td>
                {% else %}
                {# user no login #}
                    <td>
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block paginator %}
<div class="paginator">
    <ul class="pagination">
        {# 上一页 #}
        <li>
            {% if page_of_objects.has_previous %}
                {# if 作为判断用户是否有搜索内容，有搜索内容需要从后端返回搜索字段 #}
                {% if search_ip_address or search_client_name %}
                    <a href="?ip_address={{ search_ip_address }}&client_name={{ search_client_name }}&page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# 中间页码 #}
        {% for page_num in page_range %}
            {% if page_num == page_of_objects.number %}
                <li class='active'><span>{{ page_num }}</span></li>
            {% else %}
                {% if page_num == '...' %}
                    <li><span>{{ page_num }}</span></li>
                {% else %}
                    {% if search_ip_address or search_client_name %}
                        <li><a href="?ip_address={{ search_ip_address }}&client_name={{ search_client_name }}&page={{ page_num }}">{{ page_num }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {# 下一页 #}
        <li>
            {% if page_of_objects.has_next %}
                {% if search_ip_address or search_client_name %}
                    <a href="?ip_address={{ search_ip_address }}&device_name={{ search_device_name }}&client_name={{ search_client_name }}&page={{ page_num }}">{{ page_num }}
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ page_of_objects.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock%}

{% block other_content %}
{# modal #}
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">详细信息</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="row pull-left">
                        <div class="col-sm-12">
                            <a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" title="Tips" data-content="
                            <ul>
                                <li>带 * 必填</li>
                                <li>
                                    子接口字段采用自动识别，填写规范如下
                                    <ul>
                                        <li>PTN接入子接口: lag-100:外层vlan 或 10/1/1:外层vlan</li>
                                        <li>GPON接入子接口: lag-10:外层vlan.内层vlan 或 Eth-Trunk100.外层vlan.内层vlan 或 10/1/1:外层vlan.内层vlan</li>
                                    </ul>
                                </li>
                                <li>描述字段: 带宽格式为(**M)或(**G)</li>
                                <li>状态: InUse在用, ShutDown暂时停闭, Delete数据删除</li>
                            </ul>">
                                * 修改帮助
                            </a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消变更</button>
                    <button type="button" class="btn btn-danger modal_mod">变更/销户</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block tail_script %}
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            html: true
        });
    });
    
    // ajax 请求
    $(document).ready(function(){
        // 公私网分开处理
        var ip_type = $(".modal_form_trigger").attr('ip_type');
        if(ip_type == "public"){
            var ip_url = "{% url 'ajax_locate_ip' 'public' %}";
        }else{
            var ip_url = "{% url 'ajax_locate_ip' 'private' %}";
        }
        $(".modal_form_trigger").click(function(){
            $.ajax({
                url: ip_url,  // 异步请求的地址
                type: 'GET',    // 请求方式
                data: {rid: $(this).attr('rid')},   // 发送的json
                cache: false,
                success: function(data){    // 回调函数，返回data
                    if(data['status'] == 'success'){
                        // console.log(data);
                        $(".modal-body").html(data['allocation_form']);
                    }else{
                        console.log(data);
                        alert('没有找到相关对象');
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
    });

    // 变更按钮
    $(document).ready(function(){
        $(".modal_mod").click(function(){
            var ip_type = $(".modal_form").attr('ip_type');
            if(ip_type == "public"){
                var ip_url = "{% url 'ip_allocation_mod' 'public' %}";
            }else{
                var ip_url = "{% url 'ip_allocation_mod' 'private' %}";
            }
            $.ajax({
                url: ip_url,
                type: 'POST',
                data: $('.modal_form').serialize()+"&rid="+$('.modal_form').attr('rid')+"&csrfmiddlewaretoken="+"{{ csrf_token  }}",
                success: function(data){
                    if(data['status'] == 'success'){
                        $('.modal').modal('hide');  // 修改成功后关闭modal
                        alert('变更成功');
                    }else{
                        console.log(data);
                        alert(data['error_info']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
        });
    });
</script>
{% endblock %}