{% extends 'base.html' %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'devices.css' %}">
{% endblock %}

{% block navbar_resource_active %}active{% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}">Home</a></li>
            <li><a href="">Resource</a></li>
            <li class="active">Port Utility</li>
        </ol>
        <h2 class="sub-header">Port Utility</h2>
        <br>
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'port_resource' %}" method="GET" class="form-inline">
                    {% for field in port_search_form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>

        </div>
        {% if port_search_form.errors %}
            <br>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Input Error: </strong>{{ port_search_form.errors.as_text }}
            </div>
        {% endif %}
        <h2 class="sub-header text-center">{{ device_name }}</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <th>Port</th>
                    <th>Brand Width</th>
                    <th>Port Status</th>
                    <th>Phy Status</th>
                    <th>LogicPort</th>
                    <th>LogicPort Des</th>
                    <th>Port Des</th>
                </thead>
                <tbody>
                    {% for pt in target_ports %}
                    <tr>
                        <td>{{ pt.port }}</td>
                        <td>{{ pt.brand_width }}</td>
                        <td>{{ pt.port_status }}</td>
                        <td>{{ pt.port_phy_status }}</td>
                        <td>{{ pt.logic_port }}</td>
                        <td>{{ pt.logic_port_description|truncatechars:50 }}</td>
                        <td>{{ pt.port_description|truncatechars:50 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>



{% endblock %}