{% extends 'list_base.html' %}
{% load static %}

{# 下面仅对base.html进行扩展#}
{% block title %} 专线业务监测 {% endblock %}
{% block navbar_inspect_active %}active{% endblock %}

{# 下面对list_base.html进行扩展#}
{% block breadcrumb %}
    <li class="active">Inspect</li>
    <li class="active">VIP Guard</li>
{% endblock %}

{% block subheader %} 专线业务监测 {% endblock %}

{% block search_form %}
    <form action="{% url 'search_group_client' %}" method="GET" class="form-inline">
        {% for field in group_client_search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
{% endblock %}

{% block table_title %}
    <th>客户</th>
    <th>产品编号</th>
    <th>IP</th>
    <th>上联设备</th>
    <th>逻辑端口</th>
    <th>端口描述</th>
    <th>端口物理状态</th>
    <th>端口逻辑状态</th>
{% endblock %}

{% block table_body %}
    {% for record in records %}
    <tr>
        <td>{{ record.client_name|truncatechars:20 }}</td>
        <td>{{ record.product_id }}</td>
        <td>{{ record.ip }}</td>
        <td>{{ record.device_name }}</td>
        <td>{{ record.logic_port }}</td>
        <td>{{ record.ip_description|truncatechars:30 }}</td>
        <td>{{ record.port_phy_status }}</td>
        <td>{{ record.port_status }}</td>
    </tr>
    {% endfor %}
{% endblock %}

{% block paginator %}
<div class="paginator">
    <ul class="pagination">
        {# 上一页 #}
        <li>
            {% if page_of_objects.has_previous %}
                <a href="?page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# 中间页码 #}
        {% for page_num in page_range %}
            {% if page_num == page_of_objects.number %}
                <li class='active'><span>{{ page_num }}</span></li>
            {% else %}
                {% if page_num == '...' %}
                    <li><span>{{ page_num }}</span></li>
                {% else %}
                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {# 下一页 #}
        <li>
            {% if page_of_objects.has_next %}
                <a href="?page={{ page_of_objects.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}