{% extends 'list_base.html' %}
{% load static %}

{# 下面仅对base.html进行扩展#}
{% block title %} 端口错包检查 {% endblock %}
{% block navbar_inspect_active %}active{% endblock %}

{# 下面对list_base.html进行扩展#}
{% block breadcrumb %}
    <li class="active">Inspect</li>
    <li class="active">Port's Error</li>
{% endblock %}

{% block subheader %} 端口错包检查 {% endblock %}

{% block new_button %}
{% if user.is_authenticated %}
    <a class="btn btn-danger" href="{% url 'my_port_error_tasks' %}" role="button">
        待办 
    </a>
{% else %}
    <a class="btn btn-danger" href="{% url 'login' %}?from={{ request.get_full_path }}" role="button">
        待办
    </a>
{% endif %}
{% endblock %}

{% block search_form %}
    <form action="{% url 'search_porterror_fix' %}" method="GET" class="form-inline">
        {% for field in port_error_fix_record_search_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <!-- <p class="text-danger">{{ field.errors.as_text }}</p> -->
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
{% endblock %}

{% block export %}
    <a class="btn btn-success" href="{% url 'export_porterrorfix' %}?time_begin={{ time_begin }}&time_end={{ time_end }}" role="button">导出</a>
{% endblock %}

{% block alert_content %}
    {% if port_error_fix_record_search_form.errors %}
        <br>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Input Error: </strong>{{ port_error_fix_record_search_form.errors.as_text }}
        </div>
    {% endif %}
{% endblock %}

{% block table_title %}
    <th>设备名</th>
    <th>端口</th>
    <th>问题分类</th>
    <th>详情</th>
    <th>认领时间</th>
    <th>完成时间</th>
    <th>处理人</th>
{% endblock %}

{% block table_body %}
    {% for record in records %}
        <tr>
            <td>{{ record.device_name }}</td>
            <td>{{ record.port }}</td>
            <td>{{ record.problem_type|default:'正在处理' }}</td>
            <td>{{ record.problem_detail|default:''|truncatechars:20 }}</td>
            <td>{{ record.begin_time|date:"Y-m-d" }}</td>
            <td>
                {% if record.end_time %}
                    {{ record.end_time|date:"Y-m-d" }}
                {% else %}
                    未完成
                {% endif %}
            </td>
            <td>{{ record.worker }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block paginator %}
<div class="paginator">
    <ul class="pagination">
        {# 上一页 #}
        <li>
            {% if page_of_objects.has_previous %}
                {# if 作为判断用户是否有搜索内容，有搜索内容需要从后端返回搜索字段 #}
                {% if time_begin and time_end %}
                    <a href="?time_begin={{ time_begin }}&time_end={{ time_end }}&page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ page_of_objects.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
            {% else %}
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </li>
        {# 中间页码 #}
        {% for page_num in page_range %}
            {% if page_num == page_of_objects.number %}
                <li class='active'><span>{{ page_num }}</span></li>
            {% else %}
                {% if page_num == '...' %}
                    <li><span>{{ page_num }}</span></li>
                {% else %}
                    {% if time_begin and time_end %}
                        <li><a href="?time_begin={{ time_begin }}&time_end={{ time_end }}&page={{ page_num }}">{{ page_num }}</a></li>
                    {% else %}
                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {# 下一页 #}
        <li>
            {% if page_of_objects.has_next %}
                {% if time_begin and time_end %}
                    <a href="?time_begin={{ time_begin }}&time_end={{ time_end }}&page={{ page_of_objects.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ page_of_objects.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            {% else %}
                <span aria-hidden="true">&raquo;</span>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock%}

{% block tail_script %}
<script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}" charset="UTF-8"></script>
<script>
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy-mm-dd hh:ii:ss',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 0 // 是否显示上下午
        // pickerPosition: "bottom-left"
    });
</script>
{% endblock %}