div.jumbotron {
    text-align: center;
}
div.paginator {
    text-align: right;
}
div.counter {
    text-align: left;
}
input.allocate {
    margin-bottom: 1em;
}
select.allocate {
    margin-bottom: 1em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
p.text-muted {
    margin-top: 1.5em;
}