div.paginator {
    text-align: right;
}
div.counter {
    text-align: left;
}
/* input.allocate {
    margin-bottom: 1em;
}
select.allocate {
    margin-bottom: 1em;
} */
div.container-fluid {
    padding-left: 4em;
    padding-right: 4em;
}
div.popover {
    width: 500px;
}
div.olt-list {
    background-color:white; 
    border: 1px solid #ccc; 
    position:absolute; 
    left:16%; 
    top:inherit; 
    height:auto; 
    width:70%; 
    display: none; 
    z-index:1;
}
div.bng-list {
    background-color:white; 
    border: 1px solid #ccc; 
    position:absolute; 
    top:100%; 
    height:auto; 
    width:90%; 
    display: none; 
    z-index:1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
p.text-muted {
    margin-top: 1.5em;
}