{% extends 'base.html' %}
{% block title %} Device's Detail {% endblock %}

{% load static %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'devices.css' %}">
    <script src="{% static 'echarts.common.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">{{ device.device_name }}<small> / {{ device.device_ip }}</small></h1>
        </div>
        <div class="page-header">
            <h3 class="text-left">Performance <small>test data</small></h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="usermain" style="width:400px;height:400px;"></div>
            </div>
            <div class="col-md-6">
                <div id="perfmain" style="width:400px;height:400px;"></div>
            </div>
        </div>
        
        <div class="page-header">
            <h3 class="text-left">Port Utility <small>{{ port_up_count }} ports up, {{ port_down_count }} ports down</small></h3>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% regroup device_ports by slot as slot_list %}
            {% for slot in slot_list %}
                <div class="panel panel-success">
                    <div class="panel-heading" role="tab" id="heading{{ slot.grouper }}">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ slot.grouper }}" aria-expanded="true" aria-controls="collapse{{ slot.grouper }}">
                                <strong>    Slot {{ slot.grouper }}</strong><small> / {{ slot.list|length }} ports</small>
                                <span class="glyphicon glyphicon-list pull-right" aria-hidden="true"></span>
                            </a>
                            
                        </h3>
                    </div>
                    {% regroup slot.list by mda as mda_list %}
                    <div id="collapse{{ slot.grouper }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ slot.grouper }}">
                        <div class="panel-body">
                            {% for mda in mda_list %}
                                <h4>
                                    <span class="label label-success">Mda {{ mda.grouper }}</span>
                                    <small> {{ mda.list|length }} ports</small>
                                </h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <th>Port</th>
                                            <th>Brand Width</th>
                                            <th>Port Status</th>
                                            <th>Phy Status</th>
                                            <th>LogicPort</th>
                                            <th>LogicPort Des</th>
                                            <th>Port Des</th>
                                        </thead>
                                        <tbody>
                                            {% for detail in mda.list %}
                                                <tr>
                                                    <td>{{ detail.port }}</td>
                                                    <td>{{ detail.brand_width }}</td>
                                                    <td>{{ detail.port_status }}</td>
                                                    <td>{{ detail.port_phy_status }}</td>
                                                    <td>{{ detail.logic_port }}</td>
                                                    <td>{{ detail.logic_port_description|truncatechars:50 }}</td>
                                                    <td>{{ detail.port_description|truncatechars:50 }}</td>
                                                </tr>
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var userPie = echarts.init(document.getElementById('usermain'));
        userPie.showLoading();
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '设备用户数',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            series: [
                {
                    name: '设备用户数',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:[
                        {value:335, name:'Home User'},
                        {value:310, name:'OTV User'},
                        {value:234, name:'IMS User'},
                        {value:135, name:'ITMS User'},
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        userPie.hideLoading();
        userPie.setOption(option);

        var perfBar = echarts.init(document.getElementById('perfmain'));
        perfBar.showLoading();
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '设备性能',
                x: 'center'
            },
            xAxis: {
                type: 'category',
                data: ['CPU', 'Memory']
            },
            yAxis: {
                type: 'value',
                min: '0',
                max: '100'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c}%"
            },
            series: [
                {
                    data: [20, 87],
                    type: 'bar'
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        perfBar.hideLoading();
        perfBar.setOption(option);


    </script>
{% endblock %}

